@import "base.less";

body,
input,
textarea {
    font-family: Kanit;
}

a {
    color          : inherit;
    text-decoration: inherit;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background   : rgb(122, 110, 170);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    box-shadow   : rgb(238 234 244) 0px 0px 5px inset;
    border-radius: 10px;
}

@import "view/layout.less";
@import "view/home.less";
@import "view/create.less";
@import "view/create/create-user-mint-nft.less";
@import "view/create/create-deployer-mint-nft.less";
@import "view/nft/detail.less";
@import "view/nft/update.less";

@import "ui/user-info.less";
@import "ui/image-upload-form.less";
@import "ui/properties-form.less";

@import "ui/menu/pc-menu.less";
@import "ui/menu/user-menu.less";
@import "ui/menu/mobile-menu.less";

@import "ui/loading/minting.less";
@import "ui/loading/nft-loading.less";