html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
body,
input,
textarea {
  font-family: Kanit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #7a6eaa;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: #eeeaf4 0px 0px 5px inset;
  border-radius: 10px;
}
.layout {
  padding-top: 57px;
}
.layout > header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e7e3eb;
  padding: 4px 16px;
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
  background-color: #ffffff;
}
.layout > header > .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 24px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .pc-menu {
    display: none;
  }
}
.layout > header > .span {
  flex-grow: 1;
}
@media only screen and (max-width: 719px) {
  .layout > header > .user-info {
    display: none;
  }
}
.layout > header > .menu-button {
  display: none;
  color: #7a6eaa;
  height: 48px;
  padding: 0 16px;
  align-items: center;
  font-size: 18px;
}
.layout > header > .menu-button:hover {
  background-color: #eff4f5;
  border-radius: 16px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .menu-button {
    display: flex;
  }
}
.layout > footer {
  background-color: #27262c;
  padding: 56px 40px 32px;
  font-weight: bold;
}
.layout > footer > section > h4 {
  color: #9a6aff;
  text-transform: uppercase;
}
.layout > footer > section li {
  margin-top: 10px;
}
.layout > footer > section a {
  color: #f4eeff;
}
.layout > footer > section a:hover {
  text-decoration: underline;
}
.layout > footer > .social {
  padding: 20px 0;
  color: #b8add2;
  font-size: 24px;
}
.layout > footer > .copyright {
  padding: 20px 0;
  border-top: 1px solid #383241;
  color: #b8add2;
}
.home-view > header {
  background-color: #e9f9ff;
  padding: 48px;
}
.home-view > header > h2 {
  font-size: 64px;
  color: #7645d9;
  font-weight: bold;
  margin-bottom: 20px;
}
.home-view > header > .trade-button {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 48px;
  background-color: #1fc7d4;
  color: #ffffff;
  font-weight: bold;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
}
.home-view > header > .trade-button:hover {
  background-color: #6edbe3;
}
.create-view {
  background-color: #faf9fa;
}
.create-view > main {
  max-width: 720px;
  padding: 50px 20px;
  margin: auto;
}
.create-view > main > h1 {
  color: #7645d9;
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 32px;
  border-bottom: 2px solid #7a6eaa;
}
.create-view > main > section {
  margin-top: 48px;
}
.create-view > main > section > h2 {
  color: #7645d9;
  font-size: 40px;
  font-weight: bold;
}
.create-view > main > section > p {
  margin-top: 12px;
  color: #280d5f;
  font-size: 24px;
  font-weight: bold;
}
.create-view > main > section > p > a {
  text-decoration: underline;
}
.create-view > main > section > a {
  margin-top: 32px;
  display: block;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #e7e3eb;
  border-bottom-width: 4px;
}
.create-view > main > section > a > h3 {
  color: #280d5f;
  font-size: 24px;
  font-weight: bold;
}
.create-view > main > section > a:hover {
  background-color: #e7e3eb;
}
.create-view > main > section > a > p {
  margin-top: 20px;
  color: #7a6eaa;
}
.create-user-mint-nft-view {
  max-width: 720px;
  padding: 50px 20px;
  margin: auto;
}
.create-user-mint-nft-view > h1 {
  color: #7645d9;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
}
.create-user-mint-nft-view > form > label {
  display: block;
  margin-bottom: 24px;
  color: #280d5f;
  text-transform: uppercase;
  font-weight: bold;
}
.create-user-mint-nft-view > form > label > input {
  display: block;
  margin-top: 6px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #d7caec;
  height: 40px;
  padding: 0 16px;
  color: #280d5f;
  font-size: 16px;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  background-color: #eeeaf4;
}
.create-user-mint-nft-view > form > label > input:focus {
  box-shadow: #7645d9 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.create-user-mint-nft-view > form > label > input::placeholder {
  color: #7a6eaa;
}
.create-user-mint-nft-view > form > input[type=submit] {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 48px;
  background-color: #1fc7d4;
  color: #ffffff;
  font-weight: bold;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-size: 16px;
}
.create-user-mint-nft-view > form > input[type=submit]:hover {
  background-color: #6edbe3;
}
.create-deployer-mint-nft-view {
  max-width: 720px;
  padding: 50px 20px;
  margin: auto;
}
.create-deployer-mint-nft-view > h1 {
  color: #7645d9;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
}
.detail-view {
  display: flex;
}
@media only screen and (max-width: 719px) {
  .detail-view {
    display: block;
  }
}
.detail-view > .art-container {
  width: 50%;
  padding: 20px;
  padding-right: 10px;
}
@media only screen and (max-width: 719px) {
  .detail-view > .art-container {
    width: auto;
    padding-right: 20px;
  }
}
.detail-view > .art-container > .art {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #e7e3eb;
  border-bottom-width: 4px;
}
.detail-view > .art-container > .art > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.detail-view > .info {
  width: 50%;
  padding: 20px;
  padding-left: 10px;
}
@media only screen and (max-width: 719px) {
  .detail-view > .info {
    width: auto;
    padding-left: 20px;
  }
}
.detail-view > .info > h1 {
  margin-top: 20px;
  color: #7645d9;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}
.detail-view > .info > .owner {
  margin-bottom: 20px;
}
.detail-view > .info > .owner > a {
  text-decoration: underline;
}
.detail-view > .info > .controller > a {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 48px;
  background-color: #1fc7d4;
  color: #ffffff;
  font-weight: bold;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-size: 16px;
}
.detail-view > .info > .controller > a:hover {
  background-color: #6edbe3;
}
.update-view {
  background-color: #faf9fa;
}
.update-view > form {
  max-width: 720px;
  padding: 50px 20px;
  margin: auto;
}
.update-view > form > h1 {
  color: #7645d9;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
  border-bottom: 2px solid #7a6eaa;
}
.update-view > form > .image-upload-form {
  margin-top: 30px;
  margin-bottom: 30px;
}
.update-view > form > label {
  display: block;
  margin-bottom: 30px;
  color: #280d5f;
  text-transform: uppercase;
  font-weight: bold;
}
.update-view > form > label > p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: none;
  font-weight: normal;
}
.update-view > form > label > input {
  display: block;
  margin-top: 6px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #d7caec;
  height: 40px;
  padding: 0 16px;
  color: #280d5f;
  font-size: 16px;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  background-color: #eeeaf4;
}
.update-view > form > label > input:focus {
  box-shadow: #7645d9 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.update-view > form > label > input::placeholder {
  color: #7a6eaa;
}
.update-view > form > label > textarea {
  display: block;
  margin-top: 6px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #d7caec;
  height: 114px;
  padding: 8px 16px;
  color: #280d5f;
  font-size: 16px;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  background-color: #eeeaf4;
}
.update-view > form > label > textarea:focus {
  box-shadow: #7645d9 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.update-view > form > label > textarea::placeholder {
  color: #7a6eaa;
}
.update-view > form > .properties-form {
  margin-bottom: 60px;
}
.update-view > form > input[type=submit] {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 48px;
  background-color: #1fc7d4;
  color: #ffffff;
  font-weight: bold;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-size: 16px;
}
.update-view > form > input[type=submit]:hover {
  background-color: #6edbe3;
}
.user-info > .connect-button {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 32px;
  background-color: #1fc7d4;
  color: #ffffff;
  font-weight: bold;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
}
.user-info > .connect-button:hover {
  background-color: #6edbe3;
}
.user-info > .user-button {
  padding: 10px;
  color: #7a6eaa;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.user-info > .user-button:hover {
  background-color: #eff4f5;
  border-radius: 16px;
}
.image-upload-form {
  border: 3px dashed #e5e8eb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 256px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.image-upload-form > .guide {
  color: #aaaaaa;
  text-align: center;
  width: 100%;
}
.image-upload-form > .guide > i {
  font-size: 60px;
}
.image-upload-form > .guide > header {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.image-upload-form > .error {
  text-align: center;
  width: 100%;
  color: red;
}
.image-upload-form > .percent {
  text-align: center;
  width: 100%;
  color: #aaaaaa;
}
.image-upload-form > .percent > .bar {
  background: #F8F9FA;
  border: 0.5px solid rgba(33, 37, 41, 0.14);
  box-sizing: border-box;
  border-radius: 8px;
  width: 160px;
  margin: auto;
  margin-bottom: 10px;
  height: 8px;
}
.image-upload-form > .percent > .bar > .fluid {
  background: #4589FF;
  border: 0.5px solid rgba(33, 37, 41, 0.14);
  box-sizing: border-box;
  border-radius: 8px;
  height: 8px;
}
.properties-form > h4 {
  color: #280d5f;
  text-transform: uppercase;
  font-weight: bold;
}
.properties-form > p {
  margin-top: 10px;
  color: #280d5f;
}
.properties-form > .add-button {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 48px;
  color: #280d5f;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid #280d5f;
  font-size: 16px;
}
.properties-form > .property-form-list {
  padding: 10px 0;
}
.properties-form > .property-form-list > .property-form {
  display: flex;
  margin: 10px 0;
}
.properties-form > .property-form-list > .property-form > .delete-button {
  border-radius: 16px;
  border: 1px solid #d7caec;
  height: 40px;
  padding: 0 16px;
  color: #280d5f;
  font-size: 20px;
  background-color: #eeeaf4;
  display: flex;
  align-items: center;
}
.properties-form > .property-form-list > .property-form > input {
  margin-left: 6px;
  border-radius: 16px;
  border: 1px solid #d7caec;
  height: 40px;
  padding: 0 16px;
  color: #280d5f;
  font-size: 16px;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  background-color: #eeeaf4;
}
.properties-form > .property-form-list > .property-form > input:focus {
  box-shadow: #7645d9 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.properties-form > .property-form-list > .property-form > input::placeholder {
  color: #7a6eaa;
}
.pc-menu {
  display: flex;
  color: #7a6eaa;
}
.pc-menu > a {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.pc-menu > a:hover {
  background-color: #eff4f5;
  border-radius: 16px;
  padding: 16px;
}
.user-menu {
  width: 220px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background-color: #ffffff;
  color: #7a6eaa;
  border-radius: 5px;
}
.user-menu > a {
  display: block;
  border-bottom: 1px solid #e7e3eb;
  padding: 16px;
}
.user-menu > a:hover {
  background-color: #eff4f5;
}
.mobile-menu {
  width: 220px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background-color: #ffffff;
  color: #7a6eaa;
  border-radius: 5px;
}
.mobile-menu > a {
  display: block;
  border-bottom: 1px solid #e7e3eb;
  padding: 16px;
}
.mobile-menu > a:hover {
  background-color: #eff4f5;
}
.minting {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: #280d5f;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.minting > .animation {
  margin: 0 auto;
}
.nft-loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: #280d5f;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nft-loading > .animation {
  margin: 0 auto;
}

